.nav-transparent {
  background-color : transparent;
  box-shadow : none;

  .nav-item {
    color : #1fa635 !important ;

    border-bottom : 1px solid transparent ;
    &:hover {
      color : #27d15f !important ;

      border-bottom : 1px pink !important;
    }
  }
}


// height:calc(100vh - 45.5px) used for offsetting the margin that was given for the nav section
#landing {
  height : 100vh;

  background-image : none;
}

.nav-section {
  // height:calc(100vh - 45.5px) used for offsetting the margin that was given for the nav section
  margin-top : 0;
}

.nav {
  transition : all 0.3s ease-in;
}


